<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Sandeep::cmsexport" title="CMS Export/Import" module="Sandeep_CmsExport" sortOrder="10" resource="Magento_Backend::content"/>
		<add id="Sandeep_CmsExport::index_index" title="Import/Export CMS Content" module="Sandeep_CmsExport" sortOrder="10" resource="Sandeep_CmsExport::index_index" parent="Sandeep::cmsexport" action="import/index/index"/>
	</menu>
</config>
